{{define "content"}}
	<table >
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		{{ range .Runtimes }}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>
					<a href="/admin/runtime/view/{{.ID}}">View</a>
					{{if $.CurrentUser.HasPrivilege "runtimes.update"}}
						<a href="/admin/runtime/update/{{.ID}}">Edit</a>
					{{end}}

					{{if $.CurrentUser.HasPrivilege "runtimes.delete"}}
					<form action="/admin/runtime/delete/{{.ID}}" method="post">
						<input type="submit" value="Delete">
					</form>
					{{end}}
				</td>
			</tr>
		{{end}}
	</table>
{{end}}
