{{define "content"}}
<div class="form-page">
	<h1>{{.Title}}</h1>
	<form action="/admin/runtime/update/{{.Runtime.ID}}" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" value="{{.Runtime.Name}}" required>
		</div>
		<input type="submit" value="Update">
	</form>
</div>
{{end}}
