{{define "content"}}
<div class="detail-page">
	{{template "header" .Header}}
	<div>
		<p>ID: {{.Runtime.ID}}</p>
		<p>Name: {{.Runtime.Name}}</p>
		<p>Created at: {{.Runtime.CreatedAt}}</p>
		<p>Updated at: {{.Runtime.UpdatedAt}}</p>
	</div>
</div>
{{end}}
