{{define "content"}}
<div class="listing-page">
	{{template "header" .Header}}
	<table >
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		{{ range .Roles }}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>
					<a href="/admin/role/view/{{.ID}}">View</a>
					{{if $.CurrentUser.HasPrivilege "roles.update"}}
						<a href="/admin/role/update/{{.ID}}">Edit</a>
					{{end}}

					{{if $.CurrentUser.HasPrivilege "roles.delete"}}
					<form action="/admin/role/delete/{{.ID}}" method="post">
						<input type="submit" value="Delete">
					</form>
					{{end}}
				</td>
			</tr>
		{{end}}
	</table>
</div>
{{end}}
