{{define "content"}}
<div class="detail-page">
	<h1>{{.Title}}</h1>
	{{if .CurrentUser.HasPrivilege "roles.update"}}
		<a class="button-link" href="/admin/role/update/{{.Role.ID}}">Edit Role</a>
	{{end}}
	<div>
		<p>ID: {{.Role.ID}}</p>
		<p>Name: {{.Role.Name}}</p>
		<p>Created at: {{.Role.CreatedAt}}</p>
		<p>Updated at: {{.Role.UpdatedAt}}</p>
		<p>Resources:</p>
		<ul>
			{{range .Role.Resources}}
				<li>{{.Name}}</li>
			{{end}}
		</ul>
	</div>
</div>
{{end}}
