{{define "content"}}
	<div class="container">
		<p>View Role</p>
		<p>ID: {{.Role.ID}}</p>
		<p>Name: {{.Role.Name}}</p>
		<p>Created at: {{.Role.CreatedAt}}</p>
		<p>Updated at: {{.Role.UpdatedAt}}</p>
	</div>
{{end}}
