{{define "base.html"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	</head>
	<body>
		<div class="container">
			<div class="panel-left">
				<div class="loader">
					<div class="electrons">
						<div class="electron-pair"></div>
						<div class="electron-pair"></div>
						<div class="electron-pair"></div>
					</div>
				</div>
			</div>
			<div class="panel-right">
				{{template "content" .}}
			</div>
		</div>
	</body>
</html>
{{end}}
