{{define "base.html"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	</head>
	<body>
		<div class="container">
			<div class="panel-left">
			{{if eq .Title "Login"}}
				<div class="loader">
					<div class="electrons">
						<div class="electron-pair"></div>
						<div class="electron-pair"></div>
						<div class="electron-pair"></div>
					</div>
				</div>
			{{else}}
				<div class="navigation">
					<ul>
						<li class="nav-toggle"><a onclick="document.querySelector('.panel-left').classList.toggle('closed')">-><-</a></li>
						<li><a href="/admin/dashboard">Dashboard</a></li>
						{{if .CurrentUser.HasPrivilege "users.view"}}
							<li><a href="/admin/user/list">Users</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "roles.view"}}
							<li><a href="/admin/role/list">Roles</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "clients.view"}}
							<li><a href="/admin/client/list">Clients</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "projects.view"}}
							<li><a href="/admin/project/list">Projects</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "domains.view"}}
							<li><a href="/admin/domain/list">Domains</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "environments.view"}}
							<li><a href="/admin/environment/list">Environments</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "runtimes.view"}}
							<li><a href="/admin/runtime/list">Runtimes</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "pools.view"}}
							<li><a href="/admin/pool/list">Pools</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "databases.view"}}
							<li><a href="/admin/database/list">Databases</a></li>
						{{end}}
						{{if .CurrentUser.HasPrivilege "servers.view"}}
							<li><a href="/admin/server/list">Servers</a></li>
						{{end}}
					</ul>
				</div>
			{{end}}
			</div>
			<div class="panel-right">
				{{template "content" .}}
			</div>
		</div>
	</body>
</html>
{{end}}
