:root {
	--loader-electron-size: 192px;
	--panel-left-background: #f1f1f1;
	--general-border-radius: 12px;
	--button-background-color: #000000;
	--button-text-color: #ffffff;
	--input-height: 56px;
}
* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	background-color: #ffffff;
	color: #000000;
}

h1 {
	margin-bottom: 40px;
}

label {
	display: block;
	margin-top: 14px;
	margin-bottom: 4px;
}

select,
input {
	width: 100%;
	border: 1.5px solid grey;
	height: var(--input-height);
	padding: 18px 20px;
	line-height: 28px;
	box-sizing: border-box;
	border-radius: var(--general-border-radius);
}

input[type="submit"] {
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	cursor: pointer;
	margin-top: 20px;
}

.checkbox {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
}
.checkbox input[type="checkbox"] {
	margin-right: 20px;
	width: calc(var(--input-height) / 2);
	height: clac(var(--input-height) / 2);
}

table {
	width: 100%;
	border-collapse: collapse;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1;
	height: 100%;
}

.panel-left {
	height: 100%;
	flex-grow: 0;
	position: relative;
	width: 400px;
	background-color: var(--panel-left-background);
}

.panel-left.closed {
	width: 50px;
}

.panel-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.electrons {
	position: relative;
	width: var(--loader-electron-size);
	height: var(--loader-electron-size);
}

.electrons .electron-pair {
	position: absolute;
	perspective: 1000px;
	border-radius: 50%;
	width: var(--loader-electron-size);
	height: var(--loader-electron-size);
	color: #015477;
}

.electrons .electron-pair:before, .electrons .electron-pair:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s electrons linear infinite;
}

.electrons .electron-pair:after {
	color: #FF3D00;
	transform: rotateY(70deg);
	animation-delay: calc(1s * 0.4s);
}

.electrons .electron-pair:nth-child(1) {
	transform: rotateZ(45deg);
}

.electrons .electron-pair:nth-child(2) {
	transform: rotateZ(105deg);
}

.electrons .electron-pair:nth-child(3) {
	transform: rotateZ(250deg);
}

@keyframes electrons {
	0%,
	100% {
		box-shadow: .2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: .2em .2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 .2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -.2em .2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -.2em -.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: .2em -.2em 0 0 currentcolor;
	}
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.navigation li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.navigation li a:hover {
	background-color: #555;
	color: white;
}
.navigation li.nav-toggle a {
	text-align: end;
}

/* Hide the li navigation items except the toggle li*/
.panel-left.closed .navigation li:not(.nav-toggle) {
	display: none;
}

.form-page,
.listing-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-link {
	text-decoration: none;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	padding: 18px 20px;
	border: 1.5px solid grey;
	border-radius: var(--general-border-radius);
	height: var(--input-height);
	line-height: 28px;
	box-sizing: border-box;
}
