{{define "content"}}
<div class="detail-page">
	{{template "header" .Header}}
	<div>
		<p>ID: {{.Environment.ID}}</p>
		<p>Name: {{.Environment.Name}}</p>
		<p>Description: {{.Environment.Description}}</p>
		<p>Created at: {{.Environment.CreatedAt}}</p>
		<p>Updated at: {{.Environment.UpdatedAt}}</p>
		<p>Servers:</p>
		<ul>
			{{range .Environment.Servers}}
				<li>{{.Name}}</li>
			{{end}}
		</ul>
		<p>Databases:</p>
		<ul>
			{{range .Environment.Databases}}
				<li>{{.Name}}</li>
			{{end}}
		</ul>
	</div>
</div>
{{end}}
