{{define "content"}}
	<table >
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		{{ range .Clients }}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>
					<a href="/admin/client/view/{{.ID}}">View</a>
					{{if $.CurrentUser.HasPrivilege "clients.update"}}
						<a href="/admin/client/update/{{.ID}}">Edit</a>
					{{end}}

					{{if $.CurrentUser.HasPrivilege "clients.delete"}}
					<form action="/admin/client/delete/{{.ID}}" method="post">
						<input type="submit" value="Delete">
					</form>
					{{end}}
				</td>
			</tr>
		{{end}}
	</table>
{{end}}
