{{define "content"}}
<div class="detail-page">
	<div>
		<p>ID: {{.Client.ID}}</p>
		<p>Name: {{.Client.Name}}</p>
		<p>Created at: {{.Client.CreatedAt}}</p>
		<p>Updated at: {{.Client.UpdatedAt}}</p>
	</div>
</div>
{{end}}
