{{define "content"}}
<div class="details">
	{{range .Details}}
		<div class="detail">
			<div class="label">{{.Label}}</div>
			{{if gt (len .Value) 1}}
			<div class="list">
				<ul>
					{{range .Value}}
						<li>
							{{if .Link}}
								<a href="{{.Link}}">{{.Value}}</a>
							{{else}}
								{{.Value}}
							{{end}}
						</li>
					{{end}}
				</ul>
			</div>
			{{else}}
			<div class="value">
				{{range .Value}}
					<p>
						{{if .Link}}
							<a href="{{.Link}}">{{.Value}}</a>
						{{else}}
							{{.Value}}
						{{end}}
					</p>
				{{end}}
			</div>
			{{end}}
		</div>
	{{end}}
</div>
{{end}}
