{{define "formitems"}}
	<div class="form-group">
		{{ range . }}
			<label for="{{.Name}}">{{.Label}}</label>
			{{if eq .Type "text"}}
				<input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" placeholder="{{.Label}}" value="{{.Value}}" {{if eq .Required true}}required{{end}} >
			{{else if eq .Type "email"}}
				<input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" placeholder="{{.Label}}" value="{{.Value}}" {{if eq .Required true}}required{{end}} >
			{{else if eq .Type "password"}}
				<input type="{{.Type}}" class="form-control" id="{{.Name}}" name="{{.Name}}" {{if eq .Required true}}required{{end}} >
			{{else if eq .Type "textarea"}}
				<textarea class="form-control" id="{{.Name}}" name="{{.Name}}" placeholder="{{.Label}}" {{if eq .Required true}}required{{end}} >{{.Value}}</textarea>
			{{else if eq .Type "select"}}
				{{$selected := .SelectedOptions}}
				<select class="form-control" id="{{.Name}}" name="{{.Name}}" {{if eq .Required true}}required{{end}} >
					<option value="">--Pick One--</option>
					{{range $value, $label := .Options}}
						<option value="{{$value}}" {{if $selected.IsSelected $value}}selected{{end}}>{{$label}}</option>
					{{end}}
				</select>
			{{else if eq .Type "checkboxgroup"}}
				{{$selected := .SelectedOptions}}
				{{$inputName := .Name}}
				{{range $value, $name := .Options}}
					<div class="checkbox">
						<input type="checkbox" id="r_{{$value}}" name="{{$inputName}}" value="{{$value}}" {{if $selected.IsSelected $value}}checked{{end}}>
						<label for="r_{{$value}}">{{$name}}</label>
					</div>
				{{end}}
			{{end}}
		{{end}}
	</div>
{{end}}
