{{define "listing"}}
	{{if .Form }}
		<div class="searchbar">
			{{template "formitems" .}}
		</div>
	{{end}}
	<table>
		<thead>
			<tr>
				{{range .Listing.Header.Headers}}
					<th>{{.}}</th>
				{{end}}
			</tr>
		</thead>
		<tbody>
			{{range .Listing.Rows}}
				<tr>
					{{range .Columns}}
						<td>
							{{range .Values}}
								{{if ne .Link ""}}
									{{if .Form}}
										<form action="{{.Link}}" method="post" class="form-link">
											<input type="submit" value="{{.Value}}">
										</form>
									{{else}}
										<a href="{{.Link}}">{{.Value}}</a>
									{{end}}
								{{else}}
									{{.Value}}
								{{end}}
							{{end}}
						</td>
					{{end}}
				</tr>
			{{end}}
	</table>
{{end}}

