{{define "content"}}
	<form action="/admin/pool/update/{{.Pool.ID}}" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" value="{{.Pool.Name}}" required>
		</div>
		<input type="submit" value="Update">
	</form>
{{end}}
