{{define "content"}}
<div class="detail-page">
	{{template "header" .Header}}
	<div>
		<p>ID: {{.Pool.ID}}</p>
		<p>Name: {{.Pool.Name}}</p>
		<p>Created at: {{.Pool.CreatedAt}}</p>
		<p>Updated at: {{.Pool.UpdatedAt}}</p>
	</div>
</div>
{{end}}
