{{define "content"}}
	<form action="/admin/database/create" method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" value="" required>
		</div>
		<input type="submit" value="Create">
	</form>
{{end}}
