{{define "content"}}
	<form action="/admin/application/create" method="post">
		<div class="form-group">
			<label for="client">Client</label>
			<select class="form-control" id="client" name="client" required>
				{{ range .Clients }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="project">Project</label>
			<select class="form-control" id="project" name="project" required>
				{{ range .Projects }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="environment">Environment</label>
			<select class="form-control" id="environment" name="environment" required>
				{{ range .Environments }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="database">Database</label>
			<select class="form-control" id="database" name="database" required>
				{{ range .Databases }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="db_name">DB Name</label>
			<input type="text" class="form-control" id="db_name" name="db_name" value="">
		</div>
		<div class="form-group">
			<label for="db_user">DB User</label>
			<input type="text" class="form-control" id="db_user" name="db_user" value="">
		</div>
		<div class="form-group">
			<label for="runtime">Runtime</label>
			<select class="form-control" id="runtime" name="runtime" required>
				{{ range .Runtimes }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="pool">Pool</label>
			<select class="form-control" id="pool" name="pool" required>
				{{ range .Pools }}
					<option value="{{.ID}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group">
			<label for="repository">Repository</label>
			<input type="text" class="form-control" id="repository" name="repository" value="">
		</div>
		<div class="form-group">
			<label for="branch">Branch</label>
			<input type="text" class="form-control" id="branch" name="branch" value="">
		</div>
		<div class="form-group">
			<label for="framework">Framework</label>
			<input type="text" class="form-control" id="framework" name="framework" value="">
		</div>
		<div class="form-group">
			<label for="document_root">Document Root</label>
			<input type="text" class="form-control" id="document_root" name="document_root" value="">
		</div>
		<label for="domains">Domains</label>
		{{range .Domains}}
			<div class="checkbox">
				<input type="checkbox" id="d_{{.ID}}" name="domain" value="{{.ID}}">
				<label for="d_{{.ID}}">{{.Name}}</label>
			</div>
		{{end}}
		<input type="submit" value="Create">
	</form>
{{end}}
