{{define "content"}}
	<div class="container">
		<h1>{{.Title}}</h1>
		<a href="/admin/user/create">Create User</a>
		<table >
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
			{{ range .Users }}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.Name}}</td>
					<td>{{.Email}}</td>
					<td>
						<a href="/admin/user/view/{{.ID}}">View</a>
						<a href="/admin/user/update/{{.ID}}">Edit</a>
						<form action="/admin/user/delete/{{.ID}}" method="post">
							<input type="submit" value="Delete">
						</form>
					</td>
				</tr>
			{{end}}
		</table>
	</div>
{{end}}
