{{define "content"}}
<div class="listing-page">
	<table >
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
		{{ range .Users }}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>{{.Email}}</td>
				<td>{{.Role.Name}}</td>
				<td>
					<a href="/admin/user/view/{{.ID}}">View</a>
					{{if $.CurrentUser.HasPrivilege "users.update"}}
						<a href="/admin/user/update/{{.ID}}">Edit</a>
					{{end}}
					{{if $.CurrentUser.HasPrivilege "users.delete"}}
						<form action="/admin/user/delete/{{.ID}}" method="post">
							<input type="submit" value="Delete">
						</form>
					{{end}}
				</td>
			</tr>
		{{end}}
	</table>
</div>
{{end}}
