{{define "content"}}
<div class="detail-page">
	<div>
		<p>ID: {{.User.ID}}</p>
		<p>Name: {{.User.Name}}</p>
		<p>Email: {{.User.Email}}</p>
		<p>Role: {{.User.Role.Name}}</p>
	</div>
</div>
{{end}}
