{{define "content"}}
<div class="detail-page">
	<h1>{{.Title}}</h1>
	{{if .CurrentUser.HasPrivilege "users.update"}}
		<a class="button-link" href="/admin/user/update/{{.User.ID}}">Edit User</a>
	{{end}}
	<div>
		<p>ID: {{.User.ID}}</p>
		<p>Name: {{.User.Name}}</p>
		<p>Email: {{.User.Email}}</p>
		<p>Role: {{.User.Role.Name}}</p>
	</div>
</div>
{{end}}
